*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #efbb6e, #794013);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}


.card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px black;
}

.form-content{
    display: flex;
    align-items: start;
    font-size: 16pt;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-content button{
    outline: 0;
    border: 0;
    width: 100%;
    padding: 8px;
    font-size: 18pt;
    margin-top: 15px;
    background-color: brown;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.form-control{
    padding: 5px;
    border: 0;
    outline: 0;
    height: 40px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 10px;
}