name: Deploy NaturalMG

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file from secrets
        run: |
          cd Server
          cat > .env << 'EOF'
          APP_ENV=prod
          DATABASE_URL=${{ secrets.DATABASE_URL }}
          MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
          EOF

      # 2️⃣ Installer les dépendances backend (Symfony)
      - name: Install backend dependencies (Composer + npm)
        run: |
          cd Server
          composer install --no-dev --optimize-autoloader
          npm ci
          npm run build
          php bin/console cache:clear --env=prod
          php bin/console cache:warmup --env=prod

      # 3️⃣ Build du frontend (React)
      - name: Build frontend (React)
        run: |
          cd Client
          npm ci
          npm run build

      # 4️⃣ Déploiement du backend (Symfony)
      - name: Deploy backend (Symfony)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.divas-consulting.com
          username: 266949882gbC9
          password: harena-FTP-25
          protocol: ftp
          local-dir: ./Server/
          server-dir: /Server/
          exclude: |
            **/node_modules/**
            **/var/**
            **/.git**
            **/.github/**
            **/.env.local**
            **/.env.dev**
            **/.env.development**

      # 5️⃣ Déploiement du frontend buildé (React)
      - name: Deploy frontend build (React)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.divas-consulting.com
          username: 266949882gbC9
          password: harena-FTP-25
          protocol: ftp
          local-dir: ./Client/dist/
          server-dir: /
          exclude: |
            **/Server/**
            **/node_modules/**
            **/.git**
            **/.github/**
